@inherits LayoutComponentBase

<header>
    <NavMenu />
</header>
<PageTitle>12th morning</PageTitle>
<div class="page">
    <main>
        <div class="container-fluid p-3">
            @Body
        </div>
        <button type="button" class="btn btn-primary">test</button>
    </main>
</div>
