@inject AuthenticationStateProvider AuthenticationStateProvider


<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">12th morning</a>
        <div class="collapse navbar-collapse">
            <nav class="nav nav-pills row gx-2">
                <div class="col">
                    <a class="btn btn-outline-primary active" href="/blogs">blogs</a>
                </div>
                <div class="col">
                <a class="btn btn-outline-primary" href="/info">info</a>
                </div>
                <div class="col">
                <a class="btn btn-outline-primary" href="/test">test</a>
                </div>
            </nav>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
