@inject AuthenticationStateProvider AuthenticationStateProvider


<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">12th morning</a>
        <div class="collapse navbar-collapse">
            <nav class="nav nav-fill">
                <a class="nav-link active" href="/blogs">blogs</a>
                <a class="nav-link" href="/info">info</a>
                <a class="nav-link" href="/test">test</a>
                <AuthorizeView Roles="admin">
                    <Authorized>
                            <a class="nav-link" href="/blogupdate">blog update</a>
                            <a class="nav-link" href="/identity/account/logout">logout</a>
                    </Authorized>
                </AuthorizeView>
            </nav>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
