@page "/blog/{id}"

@using _12thMorning.Data

@inject NavigationManager NavManager
@inject BlogService BlogDataService
@inject IJSRuntime JSRuntime
<base href="~/" />
<h3 class="ml-5">@blog.Title</h3>
<small class="ml-5">@blog.DateAdded.ToString("dd MMMM yyyy")</small>
<div class="m-5">
    @((MarkupString)BlogDataService.ParsePost(blog.Post))
</div>

@code {
    [Parameter]
    public string Id { get; set; }
    private Blog blog;

    protected override void OnInitialized() {
        try {
            blog = BlogDataService.GetBlog(int.Parse(Id));
        }
        catch {
            NavManager.NavigateTo("blog");
        }
    }


    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            await JSRuntime.InvokeAsync<string>("PR.prettyPrint");
        }
    }

}
