@page "/queslar/changelog"
@layout QueslarLayout

<h2>change log</h2>


<BSListGroup Items="ListGroup" Context="groupItem">
    @foreach (var groupItem in ListGroup) {
    <BSListGroupItem ListGroupType="ListGroupType.List">
            <BSListGroupItemHeading>
                <h5 class="mb-4">@groupItem.Header</h5>
                <small>@groupItem.Updated</small>
            </BSListGroupItemHeading>
            @foreach (var content in groupItem.Contents) {
            <BSListGroupItem >@((MarkupString)content)</BSListGroupItem>
            }
    </BSListGroupItem>
    }
</BSListGroup>

@code {
    List<item> ListGroup = new List<item> {
        new item {
            Header = "v1.3.2",
            Updated = "29/11/2020",
            Contents = new List<string> {
                "made partner and player stat updatable",
                "fixed bug with switching res types", 
                "added buttons to add speed/int to all partners",
                "added difference table to show differences on upgrade cost and res",
                "moved dropdown buttons to top"
            }
        },
        new item {
            Header = "v1.3.1",
            Updated = "21/11/2020",
            Contents = new List<string> {
                "added totals to partners page",
                "fixed some bugs with thigns updating on partners page",
                "switching res is still kinda borked"
            }
        },
        new item {
            Header = "v1.3.0",
            Updated = "20/11/2020",
            Contents = new List<string> {
                "changed inventory page to check if enchant has ownership or not",
                "changed enchant calc to calculate updated action count",
                "overhauled partners page <br/>&emsp; fixed pets <br/>&emsp; changed how things are grouped",
                "still few minor bugs with partners and totals need to be added",
            }
        },
        new item {
            Header = "v1.2.1",
            Updated = "9/11/2020",
            Contents = new List<string> {
                "updated pet food to show corrected/updated value on partners"
            }
        },
        new item {
            Header = "v1.2.0",
            Updated = "2/11/2020",
            Contents = new List<string> {
                "added inventory viewer that shows stats and enchants for all equiped gear"
            }
        },
        new item {
            Header = "v1.1.4",
            Updated = "31/10/2020",
            Contents = new List<string> {
                "added way to update api key on server if you don't want to wait an hour for the refresh",
                "cleaned up some number formating and visual things",
                "fixed problem with total spent overflowing and being negative",
                "added icons to show if table is toggled open or closed"
            }
        },
        new item {
            Header = "v1.1.3",
            Updated = "29/10/2020",
            Contents = new List<string> {
                "Added village boost from kingdom to partner calc",
                "fixed tab index so hitting tab stays within relic boost, then house, then village boost",
                "added formating for after tax res amount so it has commas over 999"
            }
        },
        new item {
            Header = "v1.1.2",
            Updated = "25/10/2020",
            Contents = new List<string> {
                "added way to upload API to server. this key is never shown to end user, and can be removed at any time",
                "added way to calculate enchanting avg if key is uploaded",
                "new url parameters for enchanting <br/>&emsp; /enchanting/{avg}/ | /enchanting/{player}/{cost} | /enchanting/{avg}/{cost}"
            }
        },
        new item {
            Header = "v1.1.1",
            Updated = "22/10/2020",
            Contents = new List<string> {
                "updated visuals for partner page tables",
                "added lowest level and next level for enchanting service calc",
                "added optional url parameters for enchanting <br/>&emsp; /enchanting/{avg}/ or /enchanting/{avg}/{cost}",
            }
        },
        new item {
            Header = "v1.1.0",
            Updated = "20/10/2020",
            Contents = new List<string> {
                "added enchanting service calculator"
            }
        },
        new item {
            Header = "v1.0.4",
            Updated = "16/10/2020",
            Contents = new List<string> {
                "changed from int to long for bigger numbers",
                "added rounding to enchants"
            }
        },
        new item {
            Header = "v1.0.3",
            Updated = "15/10/2020",
            Contents = new List<string> {
                "change partner speed/income by x3 for 1.1.2 patch",
                "Added check for ownership bonus on enchants",
                "fixed small bug with trying to set tax to 0"
            }
        },
        new item {
            Header = "v1.0.2",
            Updated = "11/10/2020",
            Contents = new List<string> {
                "added boosted amount to be displayed with house and village"
            }
        },
        new item {
            Header = "v1.0.1",
            Updated = "11/10/2020",
            Contents = new List<string> {
                "updated village boost to increase scaling every 20 levels",
                "updated house boost to increase scaling every 15 levels",
                "added tax amount to local storage so it doesn't have to be re-entered",
                "added which panels are minimised to local storage",
                "renamed 'clan boost' to 'village boost'"
            }
        },
        new item {
            Header = "v1.0.0",
            Updated = "23/9/2020",
            Contents = new List<string> {
                "updated partner enchants to x ^ .425 / 2 scaling",
                "pet auto feed loaded from API",
                "tax saved durrent current session"
            }
        }
    };

    class item {
        public string Updated { get; set; }
        public string Header { get; set; }
        public List<String> Contents { get; set; }
    }
}