@page "/queslar/changelog"
@layout QueslarLayout

<h2>change log</h2>


<BSListGroup Items="ListGroup" ListGroupType="ListGroupType.List" Context="groupItem" >
    @foreach (var groupItem in ListGroup) {
    <BSListGroupItem ListGroupType="ListGroupType.List">
            <BSListGroupItemHeading>
                <h5 class="mb-1">@groupItem.Header</h5>
                <small>@groupItem.Updated</small>
            </BSListGroupItemHeading>
            @foreach (var content in groupItem.Contents) {
            <p class="mb-1">@content</p>
            }
    </BSListGroupItem>
    }
</BSListGroup>

@code {
    List<item> ListGroup = new List<item> {
        new item {
            Header = "v1.2",
            Updated = "15/10/2020",
            Contents = new List<string> {
                "Change partner speed/income by x3 for 1.1.2 patch",
                "Added check for ownership bonus on enchants",
                "fixed small bug with trying to set tax to 0"
            }
        }
        new item {
            Header = "v1.1.1",
            Updated = "11/10/2020",
            Contents = new List<string> {
                "added boosted amount to be displayed with house and village"
            }
        },
        new item {
            Header = "v1.1",
            Updated = "11/10/2020",
            Contents = new List<string> {
                "updated village boost to increase scaling every 20 levels",
                "updated house boost to increase scaling every 15 levels",
                "added tax amount to local storage so it doesn't have to be re-entered",
                "added which panels are minimised to local storage",
                "renamed 'clan boost' to 'village boost'"
            }
        },
        new item {
            Header = "v1.0",
            Updated = "23/9/2020",
            Contents = new List<string> {
                "updated partner enchants to x ^ .425 / 2 scaling",
                "pet auto feed loaded from API",
                "tax saved durrent current session"
            }
        }
    };

    class item {
        public string Updated { get; set; }
        public string Header { get; set; }
        public List<String> Contents { get; set; }
    }
}