@page "/"
<h1>Ignore the mess~~~</h1>

<button @onclick="text">print test</button>

@stuff()

@code{

    public async void text() {
        await JSRuntime.InvokeAsync<string>("console.log", "test");
    }

    protected string stuff() {
        return Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT");
    }
}