@page "/"
<strong>TODO:</strong>
<ul>
    <li>
        get date picker working, urls sync up, just need to set up modal to handle datetime select
    </li>
    <li>
        get next previous button on posts
    </li>
    <li>
        get next previous button caring about current type
    </li>
    <li>
        everything else
    </li>
</ul>
<h1>Ignore the mess~~~</h1>

<button @onclick="text">print test</button>

@stuff()

@code{

    public async void text() {
        await JSRuntime.InvokeAsync<string>("console.log", "test");
    }

    protected string stuff() {
        return Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT");
    }
}