@page "/"
@inject IJSRuntime JSRuntime;

<h1>Helloasdfd, world! did it</h1>
another test
<string>git test</string>

Welcome to your new app.
<button @onclick="text">print test</button>

@stuff()

@code{

    public async void text() {
        await JSRuntime.InvokeAsync<string>("console.log", "test");
    }

    protected string stuff() {
        return Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT");
    }
}