@page "/"
@inject IJSRuntime JSRuntime;

<h1>Helloasdfd, world! did it</h1>
another test

Welcome to your new app.
<button @onclick="text">print test</button>

@code{

    public async void text()
    {
        await JSRuntime.InvokeAsync<string>("console.log", "test");
    }
}