@inject CommentService CommentDataService

<div class="container comments">
    @foreach (var comment in Comments) {
        
        <BlogDisplayComment Nest="0" Comment="@comment" />
    }
</div>

@code {
    [Parameter]
    public int Id { get; set; }
    private List<Comment> Comments { get; set; }

    protected override void OnInitialized() {
        Comments = CommentDataService.Get(Id);
    }
}
