@*<div class="top-row pl-4 navbar navbar-dark">
        <a class="navbar-brand" href="">12thMorning</a>
        <button class="navbar-toggler" @onclick="ToggleNavMenu">
            Toogle
        </button>
    </div>*@

<BSNavbar IsExpand="true" IsDark="true" Color="Color.Dark">
    <BSNavbarBrand Href="/">12th Morning</BSNavbarBrand>

    <BSNav IsList="true" IsPills="true" Class="m-2" >
        <BSNavItem Class="mx-2">
            <BSNavLink Href="/blog">
                Blog
            </BSNavLink>
        </BSNavItem>
        @if (Startup.IsDev) {
            <BSNavItem Class="mx-2">
                <BSNavLink Href="/blogUpdate">
                    Blog Update
                </BSNavLink>
            </BSNavItem>
        }
    </BSNav>
</BSNavbar>


@code {
    public bool CheckActive() {
        return true;
    }
}
