@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

.page-item > a {
    color: #17a2b8 !important;
}

a.nav-item, .page-item > a {
    color: #17a2b8 !important;
}

    a.nav-item.active, a.nav-item:hover {
        color: white !important;
    }

.page-item.active > a, .nav-item button:hover, .nav-item button.toggled {
    background-color: #17a2b8 !important;
    color: white !important;
}

.page-item.disabled > a {
    background-color: #dee2e6 !important;
    color: white !important;
}

.paging li a {
    border: 3px solid #17a2b8;
    border-radius: 5px !important;
}

.hidden {
    display: none;
}

input[type="button"] {
    outline:none;
}

.svg_logo {
    height: 1.5em;
    margin-right: 10px;
}

.components-reconnect-show, .components-reconnect-failed, .components-reconnect-rejected {
    display: none;
}