@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

.page-item > a {
    color: #17a2b8 !important;
}

a.nav-item, .page-item > a {
    color: #17a2b8 !important;
}

    a.nav-item.active, a.nav-item:hover {
        color: white !important;
    }

.page-item.active > a, .nav-item button:hover, .nav-item button.toggled {
    background-color: #17a2b8 !important;
    color: white !important;
}

.page-item.disabled > a {
    background-color: #dee2e6 !important;
    color: white !important;
}

.paging li a {
    border: 3px solid #17a2b8;
    border-radius: 5px !important;
}

.hidden {
    display: none;
}

.move {
    margin-right: 250px;
}

.comments {
    margin-left: 0 !important;
}

.queslar-table > div > div {
    border-style: solid;
    border-width: 1px;
}
