@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

.main {
    top: 150px;
    position: relative;
}

a.nav-item, .page-item > a {
    color: #17a2b8 !important;
}

    a.nav-item.active, a.nav-item:hover {
        color: white !important;
    }

.page-item > a {
    color: #17a2b8 !important;
}

.page-item.active > a, .nav-item button:hover, .nav-item button.toggled {
    background-color: #17a2b8 !important;
    color: white !important;
}

.page-item.disabled > a {
    background-color: #dee2e6 !important;
    color: white !important;
}

.fixed-right .nav-item {
    padding: 0;
    line-height: 1;
}

.navbar.fixed-right {
    left: auto;
    position: fixed;
    top: 75px;
    right: 0;
    width: 200px;
}


.paging {
    top: 100px;
    z-index: 10;
}

.temp {
    background-color: white;
    z-index: 5;
    height: 150px;
}

.paging li a {
    border: 3px solid #17a2b8;
    border-radius: 5px !important;
}

.hidden {
    display: none;
}

.move {
    margin-right: 250px;
}
